<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qwert2603.permesso_coroutines">

    <application>
        <provider
            android:name=".PermessoContentProvider"
            android:authorities="${applicationId}.com.qwert2603.permesso_coroutines"
            android:exported="false" />
    </application>
</manifest>
